<!DOCTYPE html>
<html>

  <head>
    <title> Register </title>
  </head>

  <body>
	<center><h2>REGISTER</h2></center>
	<br>
	<form action="/makeAccount" method = "POST">
		<center><input type = "text" name= "newuser" placeholder = "Make a Username"></center>
		<br>
		<center><input type = "password" name="newpswrd" placeholder = "Make a Password"></center>
		<br>
		<center><input type = "password" name="renewpswrd" placeholder = "Retype Your Password"></center>
		<br>
		<center><input type= "submit" value= "Register"></center>
		<br>
		<center>Already Have An Account? Click <a href= "/login">Here</a> to Login</center>
	</form>
  </body>

</html>